<a href="https://colab.research.google.com/github/italomarcelogit/DICAS-DE-PYTHON/blob/main/fun%C3%A7%C3%B5e_embutidas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python - Funções Embutidas**

## **O que são as funções embutidas?**

Existem alguns tipos de funões em Python que tem que são chamadas para realizar tarefas, de forma modular, específicas e, claro, sendo reutilizáveis. Essas funções podem ser as built-in, recursivas, lambda (função anônima) e as funções definidas pelo usuário.

Esse notebook tratará as funções embutidas (Built-in) que são as funções que já vêm prontas com a instalação do Python e definidas pelo interpretador, ao contrário das funções que criamos, de acordo com a nossa necessidade. 

Abaixo vou compartilhar alguns exemplos das muitas funções úteis e que estão embutidas no python.

## Exemplos de funções embutidas

### print()
Função para imprimir o valor de uma variável

In [1]:
# vamos declarar algumas variávies para o estudo
texto = "Meu Texto é 10"
lista = [5, 9.1, 7, 5.8, 8, 2, -9.02]
letras = ['C', 'A', 'B']
a, b, c = 1, 2, 3.578

Agora vamos fazer algumas impressões

In [2]:
print(lista) # faz a impressão e pula uma linha

[5, 9.1, 7, 5.8, 8, 2, -9.02]

In [3]:
print('Abaixo está a nossa lista e o nossa variável texto')
print(lista, texto) # imprime a lista e o texto

Abaixo está a nossa lista e o nossa variável texto
[5, 9.1, 7, 5.8, 8, 2, -9.02] Meu Texto é 10

In [4]:
# imprime uma string e um valor de uma variável qualquer no meio da string
print(f'O 2o. valor da nossa lista: {lista[1]}')

O 2o. valor da nossa lista: 9.1

In [5]:
# imprimindo variávias concatenadas com texto e cálculos
print(a, "+", b, "+", c, "=", a+b+c)

1 + 2 + 3.578 = 6.577999999999999

In [6]:
# separo os valores a,b,c com o sinal de +, finalizo a impressão com o sinal = 
# e não pulo linha 
print(a, b, c, sep=' + ', end=" = ")
# agora faço a impressão da soma após o print anterior
print(a+b+c)

1 + 2 + 3.578 = 6.577999999999999

**Explicação:** por ser um jupyter notebook, para imprimir o últiimo valor da célula, não é necessário utilizar o print()

In [7]:
a+b+c

6.577999999999999

### type()

In [8]:
# retorna o tipo da variável

print(type(texto))
print(type(a))
print(type(c))
print(type(letras))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>

### min() e max()

In [9]:
# retorna o tamanho de uma variável string, lista e outros tipos
print(f"Quantas posições tem a nossa lista?: {len(lista)}")
print(f"Quantos caracteres tem a string {texto}?: {len(texto)}")

Quantas posições tem a nossa lista?: 7
Quantos caracteres tem a string Meu Texto é 10?: 14

In [10]:
# retorna o menor valor de uma lista
print(min(lista), min(letras), sep=' | ')

-9.02 | A

In [11]:
# retorna o maior valor de uma lista
max(lista), max(letras)

(9.1, 'C')

### sorted()
Retorna valores de uma lista ou string de forma ordenada

In [12]:
# retorna os valores ordenado de uma lista
sorted(lista)

[-9.02, 2, 5, 5.8, 7, 8, 9.1]

In [13]:
sorted(letras)

['A', 'B', 'C']

In [14]:
sorted([c, b, a])

[1, 2, 3.578]

In [15]:
# retorna uma lista ordenada de forma reversa
sorted(letras, reverse=True)

['C', 'B', 'A']

### round() e abs()

In [16]:
# retorna o valor arredondado de um valor
# passando o valor e a qtd de casas decimais
print(c, round(c, 2), round(c, 1), sep=" | ")

3.578 | 3.58 | 3.6

In [17]:
# retorna o valor absoluto
print("Valor:", lista[6], " | Valor absoluto:",abs(lista[6]))

Valor: -9.02  | Valor absoluto: 9.02

In [18]:
# retorna a soma de uma lista de valores
print(f'Soma de nossa lista: {sum(lista)}')

print(f'Soma das variáveis: {sum([a, b, c])}')

Soma de nossa lista: 27.880000000000006
Soma das variáveis: 6.577999999999999

### range()
Gera uma sequência de números

In [19]:
range(0, 10)

range(0, 10)

In [20]:
# utilizando o loop for, imprimindo de 0 a 9
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
# utilizando o loop for, imprimindo de 0 a 9, pulando de 3 em e
for i in range(0, 10, 3):
  print(i)

0
3
6
9

### para string
Uma string é uma sequência de caracteres.

Importante: lista de caracteres não é a mesma coisa que uma string

In [22]:
# uma string
print(texto)

Meu Texto é 10

In [23]:
# por ser uma sequência de caracteres, poderíamos aplicar a função sorted()
sorted(texto)

[' ', ' ', ' ', '0', '1', 'M', 'T', 'e', 'e', 'o', 't', 'u', 'x', 'é']

Por ela ser uma sequência, podemos ver essa sequência de forma fatiada. Por exemplo

In [24]:
# variável inteira
texto

'Meu Texto é 10'

In [25]:
# a terceira posição da variável texto
texto[0], texto[2]

('M', 'u')

#### **slice()**

Mas como estamos falando de funções embutidas (built-in ), então vamos utilizar a função slice para fatiar a nossa string

In [26]:
# somente as 3 primeiras posições
texto[slice(3)]

'Meu'

In [27]:
# ou somente da posiçao 4 até a 9(a 9a não é inclusa)
texto[slice(4, 9)]

'Texto'

In [28]:
# da 4 até a 9 posição, de 2 em duas letras
texto[slice(4, 9, 2)]

'Txo'

Vamos a outras funções para strings

#### **upper() ou lower()**

In [29]:
texto.upper()

'MEU TEXTO É 10'

In [30]:
texto.lower()

'meu texto é 10'

#### **join()**

Iteragindo em uma sequência de caracteres, inserindo novos elementos entre eles.

In [31]:
# adicionando o caracter _ entre cada elementro da string
"_".join(texto)

'M_e_u_ _T_e_x_t_o_ _é_ _1_0'

In [32]:
# adicionando os caracteres ' + ' entre cada elementro da string
" + ".join(letras)

'C + A + B'

#### **replace()**

Substituindo um elemento da string por outro elemento

In [33]:
texto.replace("e", "3")

'M3u T3xto é 10'

#### **split()**

Transforma uma string em uma lista utilizando um caracter da string com um separador

In [34]:
print(texto)
print(texto.split(" "))

Meu Texto é 10
['Meu', 'Texto', 'é', '10']

#### **isnumeric() ou isalpha()**

In [35]:
# verifica se um caracter na string é numérico

for caracter in "Meu texto é 10": 
  if caracter.isnumeric():
    print(caracter, end='')

10

In [36]:
# verifica se um caracter na string é numérico

for caracter in "Meu texto é 10": 
  if caracter.isalpha():
    print(caracter, end=' ')

M e u t e x t o é

#### **strip() lstrip() rstrip()**

In [37]:
exemplo = "   banana é uma fruta                    "

In [38]:
exemplo.strip(" ")

'banana é uma fruta'

In [39]:
exemplo.lstrip(' ')

'banana é uma fruta                    '

In [40]:
exemplo.rstrip(' ')

'   banana é uma fruta'

### para dicionários

Dicionário é uma estrutura de dados formada por um conjunto de chave e valor, são versáteis e mutáveis.

In [41]:
dicionario = {
    "SP": "SÃO PAULO",
    "MT": "MATO GROSSSO",
    "NY": "NEW YORK",
    "PR": "PARANÁ",
    "BA": "BAHIA",
    "AC": "ACRE"
}

In [42]:
dicionario

{'SP': 'SÃO PAULO',
 'MT': 'MATO GROSSSO',
 'NY': 'NEW YORK',
 'PR': 'PARANÁ',
 'BA': 'BAHIA',
 'AC': 'ACRE'}

In [43]:
type(dicionario)

dict

In [44]:
len(dicionario)

6

In [45]:
dicionario['SP']

'SÃO PAULO'

#### get()
Acessando o valor pela chave

In [46]:
dicionario.get('SP')

'SÃO PAULO'

#### keys()
Retornando as chaves em uma lista

In [47]:
dicionario.keys()

dict_keys(['SP', 'MT', 'NY', 'PR', 'BA', 'AC'])

#### values()

Retornando os valores em uma lista

In [48]:
dicionario.values()

dict_values(['SÃO PAULO', 'MATO GROSSSO', 'NEW YORK', 'PARANÁ', 'BAHIA', 'ACRE'])

#### update()
Atualizando valores no dicionário

In [49]:
dicionario.update({"MT": "MATO GROSSO"})
dicionario

{'SP': 'SÃO PAULO',
 'MT': 'MATO GROSSO',
 'NY': 'NEW YORK',
 'PR': 'PARANÁ',
 'BA': 'BAHIA',
 'AC': 'ACRE'}

#### del() ou pop()
Excluindo registro do dicionário com a função del ou com o método pop

In [50]:
del dicionario['NY']
dicionario

{'SP': 'SÃO PAULO',
 'MT': 'MATO GROSSO',
 'PR': 'PARANÁ',
 'BA': 'BAHIA',
 'AC': 'ACRE'}

In [51]:
dicionario['ERR'] = 'VALOR ERRADO'
dicionario

{'SP': 'SÃO PAULO',
 'MT': 'MATO GROSSO',
 'PR': 'PARANÁ',
 'BA': 'BAHIA',
 'AC': 'ACRE',
 'ERR': 'VALOR ERRADO'}

In [52]:
dicionario.pop('ERR')
dicionario

{'SP': 'SÃO PAULO',
 'MT': 'MATO GROSSO',
 'PR': 'PARANÁ',
 'BA': 'BAHIA',
 'AC': 'ACRE'}

#### clear()

Limpando o dicionário

In [53]:
dicionario.clear()
dicionario

{}